<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://3026midterm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>3026midterm.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>3026midterm</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$3026midterm</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:afou8o61zk.database.windows.net,1433;Initial Catalog=3026midterm_db;User ID=alexbosa@afou8o61zk;Password=asus1992" Name="Data Source=tcp:afou8o61zk.database.windows.net,1433;Initial Catalog=3026midterm_db;User Id=alexbosa@afou8o61zk;Password=asus1992" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="midterm.Models.DefaultConnection1, midterm" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:afou8o61zk.database.windows.net,1433;Initial Catalog=3026midterm_db;User Id=alexbosa@afou8o61zk;Password=asus1992"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>